.git/**
.github/**
.vscode/**
.vscode-test/**
.vscode-test.mjs
node_modules/**
!node_modules/web-tree-sitter/**
tests/**
src/**
tsconfig.json
out/test/**
out/tests/**
sphinx_doctor/__pycache__/**
__pycache__/**
*.pyc
docs/**
examples/**
schema/**